## 1. Язык Julia: установка пакетов; загрузка и сохранение данных

### 1.1. Установка и использование пакетов

Дополнительный функционал в языке Julia реализован с помощью [пакетов](http://pkg.julialang.org/), которые хранятся на GitHub и устанавливаются с помощью специальной функции `Pkg.add()` в интерпретаторе (совсем как в R и совсем не как в Python). Обновляются пакеты командой `Pkg.update()`; список можно увидеть при помощи `Pkg.add`, папку для установки - при помощи `Pkg.dir()`. Ниже все эти команды закомментированы, чтобы не занимать место их объемным выводом. Кстати, комментарии создаются вполне привычным образом.

Чтобы использовать пакет, его нужно подключить при помощи команды `using package`, где `package` - название пакета без кавычек. Обратите внимание: кавычки были нужны только при установке пакета. При первом использовании пакета будет выполнена компиляция, которая займет какое-то время.

Чтобы прочитать справку по пакету, используем команду `?package`, например `?DataFrames`. По функциям/методам - аналогично, например, `?DataFrames.head` или `?head`.

In [61]:
# Установка пакетов
# Pkg.add("DataFrames") # работа с таблицами
# Pkg.add("ExcelReaders") # чтение xlsx
# Pkg.add("HypothesisTests") # проверка гипотез
# Pkg.add("Requests") # HTTP-клиент
# Pkg.add("SQLite") # взаимодейтсвие с SQLite

In [62]:
# Pkg.update() # обновление пакетов
# Pkg.status() # информация об установленных пакетах
# Pkg.dir() # папка для установки пакетов

In [2]:
# Подключение пакетов
using DataFrames

In [3]:
?head

search:

Show the first or last part of an AbstractDataFrame

```julia
head(df::AbstractDataFrame, r::Int = 6)
tail(df::AbstractDataFrame, r::Int = 6)
```

### Arguments

  * `df` : the AbstractDataFrame
  * `r` : the number of rows to show

### Result

  * `::AbstractDataFrame` : the first or last part of `df`

### Examples

```julia
df = DataFrame(i = 1:10, x = rand(10), y = rand(["a", "b", "c"], 10))
head(df)
tail(df)
```

 head blas_set_num_threads hessfact hessfact! SharedArray EachReplaceNA

### 1.2. Чтение данных с диска

[**DataFrames**](https://github.com/JuliaStats/DataFrames.jl)

Основной пакет для чтения/записи данных с диска, а также для манипуляций с данными. 
Аналог базовых таблиц `data.frame` и пакета *dplyr* в R (или *Pandas* в Python).

Имеется подробная [документация](http://dataframesjl.readthedocs.org/en/latest/).

В этом разделе рассмотрим простейший пример использования - чтение данных из .csv при помощи функции `readtable`.

In [17]:
using DataFrames
df = readtable("data/cars.csv", separator = ',', header = true); # ";" подавляет вывод таблицы
head(df)

6x8 DataFrames.DataFrame
| Row | Who_manufactured_the_car_ | Model          | Colour           |
|-----|---------------------------|----------------|------------------|
| 1   | "TVR"                     | "Tuscan"       | "Black"          |
| 2   | "Mercedes"                | "C200"         | "Silver"         |
| 3   | "Toyota"                  | "MR2 roadster" | "Electric blue"  |
| 4   | "BMW"                     | "Z3"           | "Metallic black" |
| 5   | "Toyota"                  | "Celica"       | "Red"            |
| 6   | "Audi"                    | "TT"           | "Black"          |

| Row | Price_that_we_bought_the_car_for | Price_that_we_will_sell_the_car_for |
|-----|----------------------------------|-------------------------------------|
| 1   | 18000                            | 20305                               |
| 2   | 4995                             | 5995                                |
| 3   | 13995                            | 15895                               |
| 4   | 4665                             | 5635                                |
| 5   | 21995                            | 24695                               |
| 6   | 15495                            | 17545                               |

| Row | Year | Extras                                           |
|-----|------|--------------------------------------------------|
| 1   | 2006 | "Alloy Wheels   Air Conditioning"                |
| 2   | 2003 | "Air Conditioning"                               |
| 3   | 2005 | "Leather Seats   Air Conditioning"               |
| 4   | 2000 | "Alloy Wheels"                                   |
| 5   | 2008 | "Air Conditioning   Alloy Wheels"                |
| 6   | 2007 | "Central Locking   Leather Seats   Alloy Wheels" |

| Row | Does_the_car_need_cleaning_ |
|-----|-----------------------------|
| 1   | "N"                         |
| 2   | "N"                         |
| 3   | "N"                         |
| 4   | "N"                         |
| 5   | "Y"                         |
| 6   | "N"                         |

[**ExcelReaders**](https://github.com/davidanthoff/ExcelReaders.jl)

Этот пакет позволяет читать данные из файлов .xlsx; для работы требуется Python-овская библиотека *xlrd*, которая входит в состав дистрибутива Anaconda. 

Воспользуемся удобной возможностью чтения напрямую в объект типа `DataFrame`, указав в вызове функции имя листа и диапазон ячеек со значениями.

In [16]:
using ExcelReaders
df_excel = readxl(DataFrame, "data/test_excel.xlsx", "Лист1!A1:C12"); 
df_excel

11x3 DataFrames.DataFrame
| Row | Группа | Возраст | Вес  |
|-----|--------|---------|------|
| 1   | 1.0    | 23.0    | 65.0 |
| 2   | 1.0    | 25.0    | 70.0 |
| 3   | 1.0    | 30.0    | 71.0 |
| 4   | 1.0    | 31.0    | 80.0 |
| 5   | 1.0    | 32.0    | 82.0 |
| 6   | 2.0    | 24.0    | 77.0 |
| 7   | 2.0    | 24.0    | 90.0 |
| 8   | 2.0    | 41.0    | 77.0 |
| 9   | 2.0    | 30.0    | 80.0 |
| 10  | 2.0    | 28.0    | 81.0 |
| 11  | 2.0    | 29.0    | 82.0 |

### 1.3. Запись данных в файл на диске

Используем функцию `writetable()` из пакета *DataFrames*:

In [67]:
df_out = DataFrame(A = 1:4, B = ["M", "F", "F", "M"])

writetable("data/output.csv", df_out, separator = ';', header = true)

### 1.4. Загрузка данных из интернета

[**Requests**](https://github.com/JuliaWeb/Requests.jl)

HTTP-клиент. Сначала выполняем запрос `get` при помощи одноименной функции, затем передаем данные на вход функции `readtable()` через буфер ввода-вывода `IOBuffer()`.

In [64]:
using Requests
import Requests: get, post, put, delete, options

res = get("http://samplecsvs.s3.amazonaws.com/SalesJan2009.csv");
mycsv = readtable(IOBuffer(res.data));
head(mycsv)

6x12 DataFrames.DataFrame
| Row | Transaction_date | Product    | Price  | Payment_Type |
|-----|------------------|------------|--------|--------------|
| 1   | "1/2/09 6:17"    | "Product1" | "1200" | "Mastercard" |
| 2   | "1/2/09 4:53"    | "Product1" | "1200" | "Visa"       |
| 3   | "1/2/09 13:08"   | "Product1" | "1200" | "Mastercard" |
| 4   | "1/3/09 14:44"   | "Product1" | "1200" | "Visa"       |
| 5   | "1/4/09 12:56"   | "Product2" | "3600" | "Visa"       |
| 6   | "1/4/09 13:19"   | "Product1" | "1200" | "Visa"       |

| Row | Name                | City             | State      | Country          |
|-----|---------------------|------------------|------------|------------------|
| 1   | "carolina"          | "Basildon"       | "England"  | "United Kingdom" |
| 2   | "Betina"            | "Parkville"      | "MO"       | "United States"  |
| 3   | "Federica e Andrea" | "Astoria"        | "OR"       | "United States"  |
| 4   | "Gouya"             | "Echuca"         | "Victoria" | "Australia"      |
| 5   | "Gerd W"            | "Cahaba Heights" | "AL"       | "United States"  |
| 6   | "LAURENCE"          | "Mickleton"      | "NJ"       | "United States"  |

| Row | Account_Created  | Last_Login     | Latitude | Longitude |
|-----|------------------|----------------|----------|-----------|
| 1   | "1/2/09 6:00"    | "1/2/09 6:08"  | 51.5     | -1.11667  |
| 2   | "1/2/09 4:42"    | "1/2/09 7:49"  | 39.195   | -94.6819  |
| 3   | "1/1/09 16:21"   | "1/3/09 12:32" | 46.1881  | -123.83   |
| 4   | "9/25/05 21:13"  | "1/3/09 14:22" | -36.1333 | 144.75    |
| 5   | "11/15/08 15:47" | "1/4/09 12:45" | 33.5206  | -86.8025  |
| 6   | "9/24/08 15:19"  | "1/4/09 13:04" | 39.79    | -75.2381  |

### 1.5. Взаимодействие с базами данных

[SQLite](https://github.com/JuliaDB/SQLite.jl)

Пока что заставить работать не получилось.

### Полезные ссылки:

[Наборы данных](http://perso.telecom-paristech.fr/~eagan/class/as2013/inf229/labs/datasets)